/* 4 chi masala */

/* .h1 {
    color: red;
    text-align: center;
}

.p {
    color: green;
    background-color: yellow;
}

.blok {
    background-color: blue;
    border-radius: 15px;
    color: white;
    padding: 15px;
    width: fit-content;
    margin-top: 10px;
} */

/* 5 chi normativ */

/* h1 {
    text-transform: uppercase;
    font-family: 'Times New Roman', serif;
    text-align: left;
    color: darkred;
}

p {
    font-family: Arial, sans-serif;
    margin: 10px 0;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.bold-italic {
    font-weight: bold;
    font-style: italic;
}

.spacing {
    letter-spacing: 3px;
    line-height: 1.8;
}

.decor {
    text-decoration: underline line-through;
}

.lowercase {
    text-transform: lowercase;
} */