/* 4 chi masala */

/* .h1 {
    color: red;
    text-align: center;
}

.p {
    color: green;
    background-color: yellow;
}

.blok {
    background-color: blue;
    border-radius: 15px;
    color: white;
    padding: 15px;
    width: fit-content;
    margin-top: 10px;
} */